body,
button {
  font-family: "Inter", sans-serif;
}
button {
  padding: 0;
}
body {
  background: #0a122e;
}
img {
  pointer-events: none;
}
* {
  scroll-behavior: smooth;
}
::selection {
  color: #0a122e;
  background: #ffe001;
}
.main {
  padding-top: 73px;
  background: linear-gradient(
      0deg,
      rgba(10, 18, 46, 1) 0%,
      rgba(0, 0, 0, 0) 29%
    ),
    url(../images/bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
a:focus {
  outline: none;
}
.icon {
  width: 10px;
  height: 10px;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  background: rgba(22, 30, 57, 0.5);
  backdrop-filter: blur(108px);
}
.header_logo a {
  display: inline-block;
  padding: 5px;
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.header_start,
.header_middle,
.header_end {
  display: flex;
  align-items: center;
}
.header_middle {
  margin-left: 85px;
}
.header_logo {
  margin-right: 21px;
}
.header_lang button {
  border: none;
  background: none;
  padding: 0;
}
.header_lang > *:nth-child(1) {
  margin-right: 10px;
}
._lang {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.35);
  text-decoration: none;
}
.active_lang {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.header-list {
  display: flex;
}
.header-link {
  text-transform: uppercase;
}
.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 26px 0;
  display: flex;
  align-items: center;
}
.header-link .icon {
  margin-left: 6px;
  width: 8px;
  height: 5px;
}
.active_link {
  font-weight: 600;
  color: #ffe001;
  background: linear-gradient(
    180deg,
    rgba(255, 224, 1, 0) 61.8%,
    rgba(255, 224, 1, 0.1) 106.9%
  );
  border-bottom: 2px solid #ffe001;
}
.cart {
  margin-right: 30px;
  text-decoration: none;
}
.cart button {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffe001;
  display: flex;
  align-items: center;
}
.cart .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke: #ffe001;
}
.purchase button {
  background: #ffe001;
  border-radius: 4px;
  padding: 13px 25px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.more {
  text-decoration: none;
  margin-left: 50px;
}
.more button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffe001;
}
.more .icon {
  position: relative;
  height: 11px;
  width: 12px;
  margin-left: 8px;
  animation: arrow-slide 1.2s infinite alternate ease-in-out;
}
@keyframes arrow-slide {
  0% {
    right: 2.5px;
  }
  100% {
    right: -2.5px;
  }
}
.main_content {
  margin-top: 130px;
  display: flex;
  align-items: center;
}
.main_text {
  margin-bottom: 36px;
}
.main_text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #ffe001;
  margin-bottom: 22px;
}
.main_text h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.main_buttons {
  display: flex;
  align-items: center;
}
.main_illustration {
  margin: 0 35px;
}
@media (min-width: 1400px) {
  .main_illustration {
    margin: 0 115px;
  }
}
.illustration_bg {
  background: rgba(22, 30, 57, 0.25);
  backdrop-filter: blur(64px);
  border-radius: 18px;
  padding: 65px 72px;
}
.ann {
  margin-bottom: 31px;
}
.products {
  margin-bottom: 40px;
}
.products_head {
  margin-bottom: 50px;
}
.ann_head h3,
.products_head h3,
.contacts_head h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  /* display: flex;
  align-items: center; */
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffe001;
}
.ann_head {
  margin-bottom: 25px;
}
.ann_content,
.products_content {
  display: flex;
  flex-wrap: wrap;
}
.new_announce {
  background: radial-gradient(
    circle at 100% 80%,
    rgba(25, 30, 49, 1) 0%,
    rgba(22, 30, 57, 1) 35%,
    rgba(22, 30, 57, 0.5) 100%
  );
  backdrop-filter: blur(108px);
  border-radius: 4px;
  flex: 0 0 auto;
  width: 31.3%;
  margin-right: 35px;
  margin-bottom: 35px;
}
.new_announce:nth-child(3n),
.new_announce:last-child,
.new_product:nth-child(3n),
.new_product:last-child {
  margin-right: 0;
}
.announce_image {
  height: 160px;
}
.announce_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 50%;
  border-radius: 4px 4px 0 0;
  transition: opacity 0.2s;
}
.announce_image:hover img {
  opacity: 100%;
}
.announce_text {
  padding: 20px 26px 16px 26px;
}
.a_text_start_head {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.a_text_start_head p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #4d5365;
  margin-left: 4px;
}
.a_start_content_head {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
}
.a_start_content_head:hover {
  text-decoration: underline;
}
.a_start_content_body {
  display: -webkit-box;
  font-size: 14px;
  line-height: 21px;
  color: #c3c5cb;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.a_text_start {
  margin-bottom: 12px;
}
.a_button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #ffe001;
  text-decoration: none;
}
.a_button:hover {
  text-decoration: underline;
}
.a_button .icon {
  height: 12px;
  width: 13px;
  margin-left: 6px;
}
.products_head h2,
.contacts_head h2 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 58.3%;
}
.new_product {
  flex: 0 0 auto;
  width: 31.3%;
  margin-right: 35px;
  margin-bottom: 35px;
  border-radius: 4px;
}
.product_image {
  height: 247px;
  position: relative;
  display: inherit;
}
.product_bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 50%;
  border-radius: 4px;
  transition: opacity 0.2s;
  position: relative;
}
/* .product_image:hover .product_bg, */
.new_product:hover .product_bg {
  opacity: 100%;
}
.product_brand {
  position: absolute;
  top: 26%;
  left: 36%;
}
.p_tags {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
}
.p_tags > * {
  margin-right: 10px;
  user-select: none;
}
.p_tags > :last-child {
  margin-right: 0;
}
.p_red,
.p_green,
.p_blue,
.p_yellow {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(12px);
  border-radius: 2px;
  padding: 3.5px 9px;
  text-transform: uppercase;
}
.p_red {
  color: #ff4654;
  background: rgba(255, 70, 84, 0.2);
}
.p_green {
  color: #3ccc4f;
  background: rgba(60, 204, 79, 0.15);
}
.p_blue {
  color: #3c5bff;
  background: rgba(60, 91, 255, 0.2);
}
.p_yellow {
  color: #fa9c1d;
  background: rgba(250, 156, 29, 0.2);
}
.p_menu {
  background: rgba(22, 30, 57, 0.5);
  backdrop-filter: blur(108px);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  opacity: 0%;
  margin-top: -49px;
  transition: opacity 0.2s ease-in-out;
  height: 30px;
}
.new_product:hover .p_menu {
  opacity: 100%;
}

.p_menu a {
  text-decoration: none;
}
.p_cart_add {
  margin-right: 25px;
}
.p_cart_add button {
  padding: 8px 15px;
  background: #ffe001;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #212121;
  display: flex;
  align-items: center;
}
.p_cart_add .icon {
  stroke: black;
  width: 12px;
  height: 13px;
  margin-right: 8px;
}
.p_more_info {
  font-weight: 600;
  font-size: 11px;
  line-height: 29px;
  color: #ffe001;
  background: none;
  border: none;
}
.p_more_info .icon {
  margin-left: 8px;
}
.contacts_head {
  margin-bottom: 40px;
}
.contacts_content {
  display: flex;
}
.new_contact {
  flex: 0 0 auto;
  width: 31.3%;
  margin-right: 35px;
  background: rgba(22, 30, 57, 0.25);
  backdrop-filter: blur(64px);
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}
.new_contact:hover h4 {
  text-decoration: underline rgba(255, 255, 255, 0.75);
}
.new_contact:hover h3 {
  text-decoration: none;
}
.contact_content {
  display: flex;
  align-items: center;
  padding: 18px 50px;
}
.c_img {
  max-height: 64px;
  max-width: 64px;
  margin-right: 15px;
}
.c_text h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.c_text h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline rgba(0, 0, 0, 0);
  transition: text-decoration 0.1s ease-in-out;
}
.contacts {
  padding-bottom: 175px;
}
.footer .header_middle {
  margin-left: 140px;
}
.footer {
  background: rgba(22, 30, 57, 0.5);
  backdrop-filter: blur(108px);
  margin-top: -100px;
}
.footer hr {
  margin: 0;
  border: none;
  border-top: 1px solid #0f152b;
}
.bottom_footer_content {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #656a7b;
  text-decoration: none;
}
.terms:hover {
  text-decoration: underline;
}
.contacts {
  background: url(../images/footer.png) top no-repeat;
  background-size: cover;
}
